<section>
	<h1>Webcome</h1>
	<hr />
	<div id="controlBar"></div>

	<script type="text/javascript">
	ReactDOM.render(React.createElement(NewTask), document.getElementById('controlBar'));
	</script>
</section>