<section>
	<h1>Webcome</h1>
	<hr />
	<div id="controlBar"></div>
	<div id="task_panel" ></div>

	<script type="text/javascript">
	ReactDOM.render(React.createElement(NewTask), document.getElementById('controlBar'));
	ReactDOM.render(React.createElement(TaskPanel), document.getElementById('task_panel'));
	</script>
</section>